
#poem {

  margin: 30px 0 1em;
  font-size: 1.4em;
  font-weight: 600;

  .poem-line {
    margin-bottom: 10px;
  }

  .poem-word {
    margin-right: 4px;
  }

  input.blank {
    display: inline;
    width: 120px;
    background: darken(white, 5%);
    padding: 5px 10px;
    .border-radius(1px);
    font-size: inherit;
    height: auto;
    margin-left: 5px;
  }

}
