form.form-stacked.install(method='post')
  fieldset
    legend.logo CollegeSpyder
    != partial('../_includes/form/form', { form: form })
  div.form-actions
    button.btn.btn-primary.btn-large(type='submit') Submit
