extends layout

block content
  form.form-stacked.login(method='post')
    h1.form-header login
    fieldset
      include ../form/form
    div.form-actions
      button.btn.btn-large.btn-primary(type='submit') Submit
