form.form-stacked.login(method='post')
  fieldset
    legend.logo CollegeSpyder
    div.clearfix
      label(for='username')= form.fields.username.label
      div.input
        input(type="text")= form.fields.username.data
    div.clearfix
      label(for='password')= form.fields.password.label
      div.input
        input(type="password")= form.fields.username.data
  div.actions
    button.btn.primary.large(type='submit') Submit
