extends layout

block content
  form.form-stacked.register(method='post')
    h1.form-header register
    fieldset
      include ../form/form
    div.form-actions
      button.btn.btn-large.btn-primary(type='submit') REGISTER
