extends layout

block content
  form.form-stacked.install(method='post')
    fieldset
      legend.logo Oversoul
      include ../form/form
    div.form-actions
      button.btn.btn-primary(type='submit') Submit
