@import 'colors'
@import 'fonts'


// Text selection color.
// ---------------------

::selection
::-moz-selection
  background positive
  color white


// Top-level assorted.
// -------------------

body
  font-family bodyFont
  font-size 18px
  font-weight 300
  text-rendering optimizeLegibility
  margin 0.5em

p
  font-size 14px

.nav
  font-size 14px
  margin-right 1em
  color black

a.nav
  &:hover
  &.active
    color #08C


// Logo, "New Poem" button.
// ------------------------

.left-col
  text-align right

.logo-block
  margin 60px 0 30px

  .user
    font-family Consolas
    line-height 1em
    position relative
    margin-right 0.4em

  h1.logo
    font-family logoFont
    margin 5px 0 0 -3px
    text-transform uppercase

    .i
      color #333

    a:hover
      text-decoration none

  a.new-poem
    font-size 19px
    margin-top 5px


.secondary-nav
  white-space nowrap

  span
    opacity 0.8


// Forms.
// ------

form
  margin-top 36px

  h1.form-header
    font-family logoFont
    font-size 1.4em
    margin-bottom 0.5em
    opacity 0.8

  &.inline
    display inline
    margin-right 0.4em

    button
      padding 0
      font-family bodyFont
      font-weight 300
      font-size 1em

  &#new

    input[type='text']
      display inline-block
      font-weight 300
      padding 10px
      font-size 20px
      width 100px
      color #bbb

      &:focus
        color #555

    input[name='roundLengthValue']
      padding 20px
      font-size 35px
      width 80px
      border 2px solid #7e7e7e
      color #555

      &:focus
        border-color #08C

    .control-group
      margin-bottom 5px

      &.error
        input
          border-color #B94A48 !important

    div.roundLength
      margin-bottom .8em

    .btn-group

      button
        padding 1px 9px
        font-weight 500
        background-image none
        text-transform none


// Poem listings.
// --------------

.right-col
  white-space nowrap

.poem

  .hash
    display inline-block
    margin 0 0.3em -0.5em 0
    font-family Consolas
    font-size 16px
    color black

    &:hover
      color #08C

  .line
    line-height 16px

  .word
    margin-right 3px
    font-size 15px
    color black

  .actions

    button
      margin-right 0.3em
      font-size 0.7em
      text-transform none
      font-weight bold

      &.danger
        color #BD362F
