@import 'colors'
@import 'fonts'


// Text selection color.
// ---------------------

::selection
::-moz-selection
  background positive
  color white


// Top-level assorted.
// -------------------

body
  font-family bodyFont
  font-weight 300
  text-rendering optimizeLegibility
  margin 0.5em

p
  font-size 15px

.nav
  font-size 14px
  margin-right 1em
  color black

a.nav
  &:hover
  &.active
    color #08C


// Logo, "New Poem" button.
// ------------------------

.logo-block
  margin 1em 0

  .user
    font-family Consolas
    font-weight bold
    line-height 1em
    position relative
    margin-right 0.4em

  h1.logo
    font-family logoFont
    margin 5px 0 0 -3px
    text-transform uppercase

    .i
      color #333

    a:hover
      text-decoration none


// Forms.
// ------

form

  h1.form-header
    font-family logoFont
    font-size 1.4em
    margin-bottom 0.5em
    text-transform uppercase
    opacity 0.8

  &.inline
    display inline
    margin-left 0.3em

    button
      padding 0
      font-family bodyFont
      font-weight 300
      font-size 1em

  &#new

    input[type='text']
      display inline-block
      font-weight 300
      padding 5px
      font-size 18px
      width 97px
      color #777

      &:focus
        color #555

    input[name='roundLengthValue']
      padding 15px 10px
      font-size 35px
      border 2px solid #7e7e7e
      border-radius 2px
      width 86px
      color #555

      &:focus
        border-color #08C

    .control-group
      margin-bottom 10px

      &.error
        input
          border-color #B94A48 !important

    div.roundLength
      margin-bottom 15px

    .btn-group

      button
        padding 1px 4px
        font-weight 400
        font-size 10px
        background-image none


// Poem listings.
// --------------

.right-col
  white-space nowrap

a.new-poem
  font-size 17px
  display inline-block
  margin-bottom 0.4em

.poems

  .hash
    display inline-block
    margin 0 0.3em -0.5em 0
    font-family Consolas
    font-size 16px
    color black

    &:hover
      color #08C

  .line
    line-height 16px

  .linebreak
    margin-right 3px
    &:after
      content '•'

  .word
    margin-right 3px
    font-size 15px
    color black

  .actions
    position relative
    top -2px

    button
      margin-right 0.3em
      font-size 11px
      text-transform none
      font-weight 400

      &.danger
        color #BD362F
