@import 'colors'
@import 'fonts'


::selection
::-moz-selection
  background positive
  color white


body
  font-family "Source Sans Pro"
  font-size 18px
  font-weight 300
  text-rendering optimizeLegibility
  margin 0.5em


a.nav
span.nav a
  margin-right 1em
  font-size 13px
  color black

  &:hover
    color negative

  &.active
    color negative


.logo-block
  margin-top 7em

  h1.logo
    margin-top 5px
    font-weight 300

    a:hover
      text-decoration none

  a.new-poem
    font-size 28px
    margin-top 5px
    font-weight 400

  p.free
    margin 3px 0 0 15px


.secondary-nav
  white-space nowrap

  a
  span
    font-size 13px
    margin-right 1em
    color black

  span
    opacity 0.8


form.login
form.register
  margin 5.4em 5em

  h1.form-header
    margin-bottom 0.5em
    font-weight 300
