@import 'colors'
@import 'fonts'


body
  font 200 18px "Source Sans Pro"
  text-rendering optimizeLegibility
  -webkit-user-select none
  -moz-user-select none
  margin 0.5em


.active
  color negative
  &:hover
    color darken(negative, 40%)


.logo-block
  margin-top 7em

  h1.logo
    margin-top 5px

    a:hover
      text-decoration none

  button.new-poem
    font-size 28px
    margin-top 5px

  a.nav
    margin-right 0.5em
    font-size 13px

  p.free
    margin 3px 0 0 15px


.secondary-nav
  white-space nowrap

  a
  span
    font-size 13px
    margin-right 1em
    color gray

  span
    opacity 0.8
