@import 'fonts'


body
  font 200 18px "Source Sans Pro"
  text-rendering optimizeLegibility
  -webkit-user-select none
  -moz-user-select none
  margin 2em


.logo-block
  margin-top 7em

  h1.logo
    margin-top 5px

    a:hover
      text-decoration none

  button.new-poem
    font-size 28px
    font-family inherit
    margin-top 5px

  a.nav
    margin-right 0.5em
    opacity 0.95

  p.free
    margin 3px 0 0 15px
