p
  font-family inherit
  color black

.btn
  font-family "Bowlby One SC"
  border 0px
  border-radius 2px

.btn-group button
  font-family "Source Sans Pro"
  border 1px solid silver

  &:first-child
    border-top-left-radius 2px !important
    border-bottom-left-radius 2px !important

  &:last-child
    border-top-right-radius 2px !important
    border-bottom-right-radius 2px !important

  &.active
    box-shadow none
    background-color #646464
    border-color #646464
    color white
    text-shadow none

input[type='text']
input[type='password']
textarea
  display block
  box-shadow none
  border-radius 1px
  border-color silver
  font-family inherit
  width 150px

  &:focus
    box-shadow none

.help-inline
  display block
  font-size 13px

form

  .control-group
    margin-bottom 20px

  .form-actions
    background transparent
    margin-top 25px
    border none
    padding 0
