p
  font-family inherit
  color black

.btn
  border 0px
  border-radius 2px
  font-family inherit

input[type='text']
input[type='password']
textarea
  box-shadow none
  border-radius 1px
  font-family inherit
  width 150px

  &:focus
    box-shadow none

.help-inline
  font-size 13px
