@import 'fonts'

p
  font-family inherit
  color black

.btn
  font-family buttonFont
  text-transform uppercase
  border 0px
  border-radius 2px
  font-weight bold
  padding 5px 7px

.btn-primary
  background #08c

  &:hover
    background #005580

.btn-danger
  background #ac0000

  &:hover
    background #8c0000

.btn-inverse
  background #005580

  &:hover
    background #005580

.btn-group button
  font-family bodyFont
  border 1px solid silver

  &:first-child
    border-top-left-radius 1px !important
    border-bottom-left-radius 1px !important

  &:last-child
    border-top-right-radius 1px !important
    border-bottom-right-radius 1px !important

  &.active
    box-shadow none
    background-color #333
    border-color #646464
    color white
    text-shadow none

input[type='text']
input[type='password']
textarea
  -webkit-transition color linear .2s
  display block
  box-shadow none
  border-radius 1px
  border-color silver
  font-family inherit
  width 150px

  &:focus
    box-shadow none

.help-inline
  display block
  font-size 13px

form

  .control-group
    margin-bottom 20px

  .form-actions
    background transparent
    margin-top 25px
    border none
    padding 0
