highlight = #2260ff

body
  -webkit-user-select none
  -moz-user-select none

.poem-word
  margin-right 4px

.submission-stack
  position absolute

.submission-word
  cursor pointer

#rank
#churn
  float left

  .stack-word
    text-align left
    cursor n-resize
    &.highlight
      color highlight

  .stack-value
    text-align right

#rank
  .stack-row
    &:first-child
      .stack-word
        font-weight bold
