body
  -webkit-user-select none
  -moz-user-select none

#left
  float left
  width 50%

#right
  float right
  width 50%

.poem-word
  margin-right 4px

.submission-stack
  position absolute

.submission-word
  cursor pointer

#rank
#churn
  float left

  .stack-word
    text-align left
    cursor n-resize

  .stack-value
    text-align right
