@import 'colors'
@import 'fonts'


body
  font 800 18px bodyFont
  text-rendering optimizeLegibility
  -webkit-user-select none
  -moz-user-select none
  margin 2em


.positive
  color positive

.negative
  color negative

.main
  margin-left 260px


#poem
  margin-bottom 1em

  div.poem-line
    margin-bottom 0.3em

  input.blank
    padding 5px
    margin 0
    width 80px
    border none !important
    border-radius 0
    box-shadow none
    border-bottom 1px solid gray
    background-color whiteSmoke
    font inherit
    &:focus
      outline none

  .poem-word
    margin-right 4px
    font-size 1.1em

  .submission-stack
    position absolute
    padding-top 5px

  .submission-word
    cursor pointer


#stack
  z-index 1
  display inline-block

  .stack-row
    cursor ns-resize

    &:first-child
      .word
        font-weight bold

    .churn
      margin-left 4px

  .word
    padding-left 7px
    text-align left

  .ratio
  .churn
    font-size 11px
    text-align right
    font-size 11px

  &.frozen

    .stack-row
      opacity 0.5
      &:hover
        opacity 1


#log

  .primary
  .overflow
    position fixed
    top 10px

    .log-row
      cursor pointer
      &:hover
        span.word
          opacity 1

      span.value
        margin-right 3px
        font-size 11px

  .primary
    z-index 2
    direction rtl
    width 230px

    &.frozen
      span.word
        opacity 0.5

  .overflow
    z-index 0
    left 520px
    opacity 0.3


#info
  z-index -2
  position fixed
  left 600px
  top 25px

  &.info
    display inline-block
    margin-right 1em

  .percent
    font-size 6em
    font-weight 300
    opacity 0.25
    margin-right 5px

  #points
    &.preview
      opacity 0.5


.drag-line
  position fixed
  line-height 0
  z-index -1
  top 0
  left 0

  svg
    position fixed
    stroke-width 2
    top 0
    left 0

    text
      font-size 2em

      &.positive
        fill positive
      &.negative
        fill negative
      &.blocked
        fill preview

    line

      &.positive
        stroke positive
      &.negative
        stroke negative
      &.blocked
        stroke preview

    line
      stroke-width 4

    circle
      opacity 0.08
      fill black


.complete-poem
  margin-left 260px

  .hash
    font-size 2em
    opacity 0.3

  .poem
    font-size 3em

    .poem-line
      margin 0

      .poem-word
        margin-right 10px
