extends layout

block content
  each poem in poems
    div.poem
      div.hash= poem.hash
      each line in poem.words
        div.line
          each word in line
            span.word= word
      div.actions
        if poem.unstarted || poem.paused
          a(href='#') start
        if poem.running
          a(href='#') stop
        a.danger(href='#') delete
