
include mixins
extends layout

block content
  +nav
    form.form-stacked.login(method='post')
      h3.form-header Login
      fieldset
        +form(form)
      div.form-actions
        button.btn.btn-large.btn-primary(type='submit') Login
