extends layout

block content

  form.new(method='post')

    h1.form-header new poem

    div.control-group.roundLength
      label.control-label(for='roundLength') Round Length
      div.controls
        input(type='text', name='roundLength', autocomplete='off')
        div.btn-group(data-toggle='buttons-radio')
          button.btn.btn-small(type='button') seconds
          button.btn.btn-small(type='button') minutes

    div.control-group
      label.control-label(for='minSubmissions') Minimum Submissions 
      div.controls
        input(type='text', name='minSubmissions', autocomplete='off')

    div.control-group
      label.control-label(for='submissionVal') Submission Value 
      div.controls
        input(type='text', name='submissionVal', autocomplete='off')

    div.control-group
      label.control-label(for='decayLifetime') Decay Halflife
      div.controls
        input(type='text', name='decayLifetime', autocomplete='off')

    div.control-group
      label.control-label(for='seedCapital') Starting Points
      div.controls
        input(type='text', name='seedCapital', autocomplete='off')

    div.control-group
      div.controls
        label.checkbox
          input(type='checkbox', name='published')
          span Published

    div.form-actions
      button.btn.btn-large.btn-primary(type='submit') Create
