extends layout

block content
  form.poems.form-horizontal(method='post')
    fieldset
      legend New Poem
      include ../form/form
    div.form-actions
      button.btn.btn-primary(type='submit') Create
