
include nav
extends layout

block content
  +nav
    form.form-stacked.register(method='post')
      h3.form-header Register
      fieldset
        include ../form/form
      div.form-actions
        button.btn.btn-large.btn-primary(type='submit') Register
