div.actions
  background none
  border none
  padding-top 0
  margin-bottom 0

input
textarea
select
  padding 9px
  color #3a3a3a
  font-size 15px

form
  &.login
  &.install
    margin 10em auto 0 20em
    legend
      font-family Damion
      font-size 3em
      padding-bottom 0.2em
    div.clearfix.error
      padding-top 0
      padding-bottom 0
    h4
      padding-bottom: 0.9em

a.logo
  font-family Damion
