@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
@import url("http://fonts.googleapis.com/css?family=Bowlby+One+SC");
::selection,::-moz-selection{background:#0060cc;color:#fff}
body{font-family:"Source Sans Pro";font-size:18px;font-weight:300;text-rendering:optimizeLegibility;margin:.5em}
p{font-size:14px}
.nav{margin-right:1em;font-size:14px;color:#000}
a.nav:hover,a.nav.active{color:#08c}
.auth{font-size:14px}
.logo-block{margin-top:6em;}
.logo-block .user{font-family:"Bowlby One SC";line-height:1em;font-weight:200;margin-right:1em;position:relative;top:1px}
.logo-block h1.logo{font-family:"Bowlby One SC";margin:5px 0 0 0;font-weight:300;}
.logo-block h1.logo a:hover{text-decoration:none}
.logo-block a.new-poem{font-family:"Bowlby One SC";font-size:26px;margin-top:5px;font-weight:300;padding-bottom:5px}
.logo-block p.free{margin:3px 0 0 15px}
.secondary-nav{white-space:nowrap;}
.secondary-nav span{opacity:.8}
form{margin-top:5em;}
form h1.form-header{font-family:"Bowlby One SC";font-size:1.4em;margin-bottom:.5em;font-weight:300;opacity:.8}
form.new{margin-top:2.4em;}
form.new input[type='text']{display:inline-block;padding:10px;font-size:20px;width:100px}
form.new input[name='roundLength']{padding:20px;font-size:35px;width:80px;border:2px solid #7e7e7e;}
form.new input[name='roundLength']:focus{border-color:#08c}
form.new .control-group{margin-bottom:5px}
form.new div.roundLength{margin-bottom:.8em}
form.new .btn-group{display:inline-block;margin:-9px 0 0 10px}
