#left{float:left;width:50%}
#right{float:right;width:50%}
.poem-word{margin-right:4px}
.submission-stack{position:absolute}
.submission-word{cursor:pointer}
#rank,#churn{float:left;}
#rank .stack-word,#churn .stack-word{text-align:left}
#rank .stack-value,#churn .stack-value{text-align:right}
