extends layout

block content
  div.grid
  div.container
    div.section.logo-container
      div.nav
        a(href='admin/login') login
        a(href='admin/register') register
      div.logo exquisitehaiku
      div.tag real-time, collaborative haiku composition
    div.section.lyra-container
