!!! 5
html
  head
    include css
    title= title
  body
    div.container
      div.section.left
        div.nav
          a(href='/admin/login') login
          a(href='/admin/register') register
        a(href='/').logo exquisitehaiku
        div.tag real-time, collaborative haiku composition
      div.section.right
        block content
