div.container
  div.row
    span.span4.offset8.secondary-nav
      a(href="#") about
      a(href="#") terms of service 
      a(href="#") press
      a(href="#") blog
      span © 2012 <a href="http://dclure.org/">david mcclure</a>
  div.row
    span.span8
      block content
    span.span4.logo-block
      a.nav(href="/admin/login") login
      a.nav(href="/admin/register") register
      h1.logo
        a(href="/") exquisitehaiku
      p real-time, collaborative haiku composition
      button.btn.btn-primary.btn-large.new-poem New Poem
      p.free ( free, anonymous )
