div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/admin') CollegeSpyder
      ul.nav
        li
          a(href="/admin/colleges") Colleges
        li
          a(href="/admin/publications") Publications
        li
          a(href="/admin/articles") Articles
        li
          a(href="/admin/logs") Crawl Logs
        if user.super
          li
            a(href="/admin/users") Users
      ul.nav.pull-right
        li
          a(href="/admin/logout") logout [ #{user.username} ]
