div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/admin') CollegeSpyder
      ul.nav

        li(class = (active == 'colleges') ? 'active' : '')
          a(href="/admin/colleges") Colleges

        li(class = (active == 'publications') ? 'active' : '')
          a(href="/admin/publications") Publications

        li(class = (active == 'articles') ? 'active' : '')
          a(href="/admin/articles") Articles

        li(class = (active == 'crawls') ? 'active' : '')
          a(href="/admin/logs") Crawl Logs

        if user.super && user.active
          li(class = (active == 'users') ? 'active' : '')
            a(href="/admin/users") Users

      ul.nav.pull-right
        li
          a(href="/admin/logout") Logout ( #{user.username} )
