table.table.list.table-condensed
  thead
    tr
      th username
      th email
      th super
      th active
      th
  tbody
    each user in users
      tr
        td= user.username
        td= user.email
        td
        td
        td
