table.table.list.table-condensed
  thead
    tr
      th username
      th email
      th super
      th active
      th
  tbody
    each user in users
      tr
        td.title= user.username
        td= user.email
        td= boolYesNo(user.super)
        td= boolYesNo(user.active)
        td
          a(href='') edit
          a.danger(href='') delete
