table.table.list.table-condensed
  thead
    tr
      th username
      th email
      th super
      th active
      th
  tbody
    each user in users
      tr
        td
          div.list-title= user.username
        td= user.email
        td= (user.super) ? 'yes' : 'no'
        td= (user.active) ? 'yes' : 'no'
        td
          a(href='/admin/users/edit/' + user.username) edit
          a.delete(href='/admin/users/delete/' + user.username) delete
