div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/admin') Oversoul
      ul.nav
        if user.superUser
          li(class=activeLi(nav.main, 'users'))
            a(href="/admin/users") Users
      ul.nav.pull-right
        li
          a(href="/admin/logout") Logout <strong>#{user.username}</strong>
