!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Damion')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    title= title
  != body
