extends admin

block subnav
  ul.nav.nav-pills
    li(class=activeLi(nav.sub, 'browse'))
      a(href='/admin/colleges') Browse
    li(class=activeLi(nav.sub, 'new'))
      a(href='/admin/colleges/new') New College
