extends admin

block subnav
  if nav.sub === 'new'
    a.new.btn.btn-primary(href='/admin/poems/new')
      i.icon-plus-sign.icon-white
      |  New Poem
  else
    a.new.btn(href='/admin/poems/new')
      i.icon-plus-sign
      |  New Poem
  ul.nav.nav-pills
    li(class=activeLi(nav.sub, 'all'))
      a(href='/admin/poems') <strong>all</strong>
    li(class=activeLi(nav.sub, 'idle'))
      a(href='/admin/poems?filter=idle') idle
    li(class=activeLi(nav.sub, 'running'))
      a(href='/admin/poems?filter=running') running
    li(class=activeLi(nav.sub, 'done'))
      a(href='/admin/poems?filter=done') done
