extends admin

block subnav
  if nav.sub === 'new'
    a.new.btn.btn-primary(href='/admin/poems/new')
      i.icon-plus-sign.icon-white
      |  New Poem
  else
    a.new.btn(href='/admin/poems/new')
      i.icon-plus-sign
      |  New Poem
  ul.nav.nav-pills
    li
      a(href='/admin/poems?filter=all') <strong>all</strong>
    li
      a(href='/admin/poems?filter=idle') idle
    li
      a(href='/admin/poems?filter=running') running
    li
      a(href='/admin/poems?filter=done') done
