extends admin

block subnav
  ul.nav.nav-pills
    li(class=activeLi(nav.sub, 'browse'))
      a(href='/admin/publications') Browse
    li(class=activeLi(nav.sub, 'new'))
      a(href='/admin/publications/new') New Publication
