extends admin

block subnav
  div.row
    div.span12
      div.subnav
        ul.nav.nav-tabs
          li
            a(href='/admin/users') Browse
          li
            a(href='/admin/users/new') New User
