extends admin

block subnav
  if nav.sub === 'new'
    a.btn.btn-primary(href='/admin/users/new')
      i.icon-plus-sign.icon-white
      |  New User
  else
    a.btn(href='/admin/users/new')
      i.icon-plus-sign
      |  New User
