extends admin

block subnav
  ul.nav.nav-pills
    li(class=activeLi(nav.sub, 'browse'))
      a(href='/admin/users') Browse
    li(class=activeLi(nav.sub, 'new'))
      a(href='/admin/users/new') New User
