extends admin

block subnav
  div.row
    div.span5
      div.subnav
        a.btn.btn-primary(href='/admin/users/new')
          i.icon-plus-sign.icon-white
          |  New User
        input.span3(type='text', placeholder='Search')
