
.poems {

  .hash {
    font-weight: bold;
    font-family: Inconsolata;
    color: @brand-danger;
  }

  form.inline {
    display: inline;
  }

  button {
    padding: 0;
    vertical-align: inherit;
    margin-left: 5px;
  }

}
