form.form-horizontal(method='post')
  fieldset

    legend Edit <strong>#{pub.name}</strong>

    - var name =          form.fields.name
    - var slug =          form.fields.slug
    - var url =           form.fields.url
    - var college =       form.fields.college

    - var textField =     '../../_includes/form/text_field'
    - var selectField =   '../../_includes/form/select_field'

    != partial(textField, { field: name, name: 'name' })
    != partial(textField, { field: slug, name: 'slug' })
    != partial(textField, { field: url, name: 'url' })
    div.control-group
      label.control-label(for=name)= college.label
      div.controls
        select(name='college')
          each listCollege in colleges
            if listCollege.id == pub.college_id
              option(value=listCollege.slug, selected)= listCollege.name
            else
              option(value=listCollege.slug)= listCollege.name

  div.form-actions
    button.btn.btn-primary(type='submit') Save
