form.form-horizontal(method='post')
  fieldset

    legend New Publication

    - var name =          form.fields.name
    - var url =           form.fields.url
    - var college =       form.fields.college

    != partial('../../_includes/text_field', { field: name, name: 'name' })
    != partial('../../_includes/text_field', { field: url, name: 'url' })
    != partial('../../_includes/select_field', { field: college, name: 'college', data: colleges })

  div.form-actions
    button.btn.btn-primary(type='submit') Create
