form.form-horizontal(method='post')
  fieldset

    legend New Publication

    - var name =          form.fields.name
    - var slug =          form.fields.slug
    - var url =           form.fields.url
    - var college =       form.fields.college

    - var textField =     '../../_includes/form/text_field'
    - var selectField =   '../../_includes/form/select_field'

    != partial(textField, { field: name, name: 'name' })
    != partial(textField, { field: slug, name: 'slug' })
    != partial(textField, { field: url, name: 'url' })
    != partial(selectField, { field: college, name: 'college', data: colleges })

  div.form-actions
    button.btn.btn-primary(type='submit') Create
