div#log
  div.primary
  div.overflow

div.main
  div#poem
  div#stack

div#info

  div.info#points
  div.progress
    div.bar

  div.progress.last
    div.bar
  div.info#timer
    span.min
    span.sec
