div#info
  span.info#points
  span.info#timer
    span.min
    span.sec

div#poem
table#stack

table#log
  tr
    td.log.primary
    td.log.overflow

script(type="text/javascript")
  var Poem = !{poem}

span#measure

!= partial('templates')
