extends ../_layouts/poem

block content

  div#poem
  table#stack

  table#log
    tr
      td.log.primary
      td.log.overflow

  div#info
    div.label points
    div.info#points
    div.label clock
    div.info#timer
      span.min
      span.sec

  script(type="text/javascript")
    var Poem = !{poem}

  include templates
