script(type="text/template", id="app-view")
  <div id="left"></div>
  <div id="right"></div>

script(type="text/template", id="submission-stack")
  <div id="submissions"></div>

script(type="text/template", id="submission-word")
  <div class="submission-word"><%= word %></div>

script(type="text/template", id="poem-line")
  <div class="poem-line"></div>

script(type="text/template", id="poem-word")
  <span class="poem-word"><%= word %></span>

script(type="text/template", id="stack-word")
  <td class="score"><%= score %></td>
  <td class="word"><%= word %></td>
