
div#log
  div.primary
  div.overflow

div.main

  div.center
    div#poem
    div#stack

  div#info

    div.info#points
      span.percent
      span.value

    div.info#timer
      span.percent
      span.min
      span.sec
