script(id="poem-line", type="text/template")
  div.poem-line

script(id="poem-word", type="text/template")
  span.poem-word <%= word %>

script(id="submission-stack", type="text/template")
  div.submission-stack

script(id="submission-word", type="text/template")
  div.submission-word <%= word %>

script(id="stack-word", type="text/template")
  td.churn
  td.ratio
  td.word

script(id="log-word", type="text/template")
  span.word <%= word %>
  span.value <%= value %>
