form.form-horizontal(method='post', action='/admin/users/edit/#{editUser.username}/info')
  fieldset

    legend Edit Information

    - var username =    infoForm.fields.username
    - var email =       infoForm.fields.email
    - var superUser =   infoForm.fields.superUser
    - var active =      infoForm.fields.active

    != partial('../../_includes/text_field', { field: username, name: 'username' })
    != partial('../../_includes/text_field', { field: email, name: 'email' })

    if editUser.id != user.id
      != partial('../../_includes/checkbox_field', { field: superUser, name: 'superUser' })
      != partial('../../_includes/checkbox_field', { field: active, name: 'active' })

  div.form-actions
    button.btn.btn-primary(type='submit') Save

form.form-horizontal(method='post', action='/admin/users/edit/#{editUser.username}/password')
  fieldset

    legend Change Password

    - var password =    passwordForm.fields.password
    - var confirm =     passwordForm.fields.confirm

    != partial('../../_includes/password_field', { field: password, name: 'password' })
    != partial('../../_includes/password_field', { field: confirm, name: 'confirm' })

  div.form-actions
    button.btn.btn-primary(type='submit') Save
