form.form-horizontal(method='post', action='/admin/users/edit/#{editUser.username}/info')
  fieldset

    legend Edit Information

    - var username =      infoForm.fields.username
    - var email =         infoForm.fields.email
    - var superUser =     infoForm.fields.superUser
    - var active =        infoForm.fields.active

    - var textField =     '../../_includes/form/text_field'
    - var checkboxField = '../../_includes/form/checkbox_field'
    - var passwordField = '../../_includes/form/password_field'

    != partial(textField, { field: username, name: 'username' })
    != partial(textField, { field: email, name: 'email' })

    if editUser.id != user.id
      != partial(checkboxField, { field: superUser, name: 'superUser' })
      != partial(checkboxField, { field: active, name: 'active' })

  div.form-actions
    button.btn.btn-primary(type='submit') Save

form.form-horizontal(method='post', action='/admin/users/edit/#{editUser.username}/password')
  fieldset

    legend Change Password

    - var password =    passwordForm.fields.password
    - var confirm =     passwordForm.fields.confirm

    != partial(passwordField, { field: password, name: 'password' })
    != partial(passwordField, { field: confirm, name: 'confirm' })

  div.form-actions
    button.btn.btn-primary(type='submit') Save
